<div class="container pt-5">
    <p class="float-right mb-1">
        <a href="#"> <i class='fa fa-arrow-circle-up'></i> Back to top</a>
    </p>
    <p class="mb-1">&copy; 022022 useaxe212, It's in your hands!</p>
</div>