
<div class="collapse bg-dark" id="navbarToggleExternalContent">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">useaxe212 is an User Interface NFT collection tool that generates unique images from many attributes, and creates the metadata needed to create smart contracts. NFT collection results can be directly uploaded to IPFS (Pinata)</p>
                </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled ">                    
                    <li><a href="https://twitter.com/yussaqnf/" class="text-warning text-decoration-none" target="_blank"><i class='fa fab fa-twitter'></i> Follow on Twitter</a></li>
                    <li><a href="https://mail.google.com/mail/?view=cm&source=mailto&to=[yussaq.nf@gmail.com]" class="text-warning text-decoration-none" target="_blank"><i class='fa far fa-envelope'></i> Email me</a></li>
                    <li><a href="https://paypal.me/yussaq" class="text-warning text-decoration-none" target="_blank"><i class="fa-brands fa-paypal"></i> Paypal.me</a></li>
                    <li><a href="#" class="text-warning text-decoration-none"><i class="fa-solid fa-wallet"></i> Wallet</a></li>                    
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>useaxe212</strong>
        </a>
        <a href="/home" class="text-white text-decoration-none" title="Home">
            <i class='fa fas fa-home'></i> Home
        </a>
        <a href="/attributes" class="text-white text-decoration-none" title="Attributes">
            <i class='fa fa-images'></i> Attributes
        </a>        
        <a href="/setting" class="text-white text-decoration-none" title="Setting">
            <i class='fa fas fa-cog'></i> Setting
        </a>
        <a href="/tools" class="text-white text-decoration-none" title="Tools">
            <i class="fa-solid fa-screwdriver-wrench"></i> Tools
        </a>        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>                              
    </div>
</div>