<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Yussaq NF">
<title>useaxe212</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="/dist/css/bootstrap.css" >
<link rel="stylesheet" href="/css/all.css" >
<script src="/dist/js/bootstrap.js"  crossorigin="anonymous"></script>
<link rel="stylesheet" href="/dist/dropzone.css" type="text/css" />
<link rel="stylesheet" href="/dist/basic.css" type="text/css" />
<script src="/dist/dropzone.js"></script>

