<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Yussaq Nur Fitrianto">
<title>Collection</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="/dist/css/bootstrap.css" >
<link rel="stylesheet" href="/css/all.css" >
<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
<link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />

<script src="/dist/js/bootstrap.js"  crossorigin="anonymous"></script>

