<section class="py-5 text-center container">
    <div class="row py-lg-8">
        <div class="col-md-10 mx-auto">
            <h1 class="font-weight-light"><%= title %></h1> 
            <p class="lead text-muted">
            <%- description %>
            </p>
        </div>
    </div>
</section>