<section class="py-5 text-center container">
    <div class="row py-lg-8">
        <div class="col-md-10 mx-auto">
            <h1 class="font-weight-light"><%= title %></h1> 
            <p class="lead text-muted">
            <%- description %>
            <div class="icons_container">
                <div class="icon twitter ">
                    <div class="tooltip"> Follow.me </div> <a href="https://twitter.com/yussaqnf/" class="text-muted text-decoration-none" target="_blank" ><span><i class="fab fa-twitter"></i></span></a>
                </div>
            </div>            
            </p>
        </div>
    </div>
</section>