<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="yussaq.nf@gmail.com">
    <title>Collections</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/dist/css/bootstrap.css" >
    <script src="/dist/js/bootstrap.js"  crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="collapse bg-dark" id="navbarToggleExternalContent">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">Add some information about the album below, the author, or any other background
                            context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off
                            to some social networking sites or contact information.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong>Collection Gernerate</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="font-weight-light"> <%= collect %></h1>
                    <%= title %>
                    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
                        etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">Main call to action</a>
                        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">                                                      
                    <% collect.forEach(function(item) { %>
                        <div class="col">
                            <div class="card shadow-sm">
                                    <img src="./asset/collections/<%= item.file %>" class="card-img-top" alt="...">
                                    <div class="card-body">
                                            <div><small class="text-muted">CollectionName <%= item.name %> </small></div>
                                            <small class="text-muted">Price 0.001</small>                        
                                    </div>
                            </div>                            
                        </div>               
                    <% }) %>
                </div>            
            </div>        
        </div>
    </div>
    </main>
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-right mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
            <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
                    href="/docs/5.0/getting-started/introduction/">getting started guide</a>.</p>
        </div>
    </footer>
</body>
</html>