<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../patrials/head'); %>
</head>
<body>
    <header>
        <%- include('../patrials/header'); %>
    </header>
    <main>
        <%- include('../patrials/title'); %>        
        <div class="container">
         
            <ul class="nav nav-tabs justify-content-center" id="myTab">
                <li class="nav-item">
                    <a href="#background" class="nav-link active" data-bs-toggle="tab">Background</a>
                </li>
                <li class="nav-item">
                    <a href="#body" class="nav-link" data-bs-toggle="tab">body</a>
                </li>
                <li class="nav-item">
                    <a href="#hair" class="nav-link" data-bs-toggle="tab">hair</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="background">
                    <h4 class="mt-2">Home tab content</h4>
                    <form action="/file-upload"
                    class="dropzone"
                    id="my-awesome-dropzone">
                    <input type="file" name="file" />
                </form>

                    <p>Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                </div>
                <div class="tab-pane fade" id="body">
                    <h4 class="mt-2">Profile tab content</h4>
                    <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
                </div>
                <div class="tab-pane fade" id="hair">
                    <h4 class="mt-2">Messages tab content</h4>
                    <p>Donec vel placerat quam, ut euismod risus. Sed a mi suscipit, elementum sem a, hendrerit velit. Donec at erat magna. Sed dignissim orci nec eleifend egestas. Donec eget mi consequat massa vestibulum laoreet. Mauris et ultrices nulla, malesuada volutpat ante. Fusce ut orci lorem. Donec molestie libero in tempus imperdiet. Cum sociis natoque penatibus et magnis.</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('../patrials/footer'); %>
    </footer>
</body>
</html>
