<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../patrials/head'); %>
</head>
<body class="container">
<header>
      <%- include('../patrials/header'); %>
</header>
<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>
<footer>
    <%- include('../patrials/footer'); %>
</footer>
</body>
</html>
